body {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
    background-color: green;
}

#main_content {
    background: rgba(255,255,255,0.75);
    margin: 50px;
    padding:50px;
    height:500px;
    position: relative;
    border-radius: 75px;
    box-shadow: 15px;
}

#imgLogo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

input[type=text] {
    padding: 10px;
    height: 30px;
    width: 300px;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 24px;
    outline: none;
    border: 2px solid silver;
    border-radius: 25px;
    -moz-box-shadow:10px 10px 8px black;
    -webkit-box-shadow:10px 10px 8px black;
    box-shadow:10px 10px 8px black;
    text-align: center;
}

#sub_content {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px;
    text-align: center;
}