body {
    margin-top: 50px;
    background-color: green;
}

.jumbotron {
    background: rgba(255,255,255,0.75);
    border-radius: 50px;
}

.spacer50 {
    margin-bottom: 50px;
}

input[type=email], input[type=password] {
    max-width: 500px;
}

#butLoginSignup {
    width: 200px;
}