html {
    height: 100%;
}
.Header {
    background-color:green;
    color:black;
    text-align:center;
    height: 10%;
    max-height: 85px;
}

#navbar {
    background-color: green;
}

h1 {
    display: inline-block;
}

.logout {
    height: 100%;
    display: inline-block;
}

a {
    line-height: 100%;
}

body {
    background-color:white;
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.content {
    height: 90%;
}

#LeftColumn {
    background-color: #c0dfbf;
    font-weight:600;
    height: 100%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 25px;
    box-shadow: 10px 10px 20px #7DB07D;
}
#MainFeed {
    font-weight:600;
    resize:vertical;
    overflow:auto;
    height: 100%;
    background-color: white;
    z-index: -1;
}
#MessageCenterPanel {
    font-weight:900;
    resize:vertical;
    overflow:auto;
    background-color: #c0dfbf;
    height: 100%;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-top: 25px;
    box-shadow: -10px 10px 20px #7DB07D;
}
#ProfilePicPanel {
    width: auto;
    height: auto;
    margin: 25px;
}
#ProfilePic {
    background-size:contain;
}
#ProfileBio {
    resize:vertical;
    overflow:auto;
}
#ExtraStuff {
    resize:vertical;
    overflow:auto;
}
#QandAPanel {
}
#ScavengerHuntPanel {
}
#CommunityPanel {
}
#CharitySectionPanel {
}
#SunRaysPanel {
}
#AdsPanel {
}
