#Header {
    background-color:green;
    color:black;
    text-align:center;
    /*padding:5px;*/
}
#Body {
    background-image: url(~/WorldTreeCircle.github.io/images/WTC-black.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
}
#LeftMargin {
    background-color:#eeeeee;
    /*float:left;*/
    /*padding:5px;*/	      
}
#MainFeed {
    /*float:left;*/
    /*padding:10px;*/

}
#MessageCenterPanel {
    background-color:#eeeeee;
    /*float:right;*/
    /*padding:5px;*/

}
#QandAPanel {

    height:120px;
}
#ScavengerHuntPanel {

    height:120px;
}
#CommunityPanel {

    height:120px;
}
#CharitySectionPanel {

    height:120px;
}
#SunRaysPanel {

    height:120px;
}
#AdsPanel {

    height:120px;
}
