#Header {
    background-color:green;
    color:black;
    text-align:center;
}

#LeftMargin {
    background-color:#ebcd22;
    font-weight:600;	      
}
#MainFeed {
    background-color:#ddd6d6;
    font-weight:600;
}
#MessageCenterPanel {
    background-color:#fa0505;
    font-weight:900;

}
#QandAPanel {
}
#ScavengerHuntPanel {
}
#CommunityPanel {
}
#CharitySectionPanel {
}
#SunRaysPanel {
}
#AdsPanel {
}
